.form {
  margin: 0 auto;
  width: 280px;
}
.form label {
  display: inline-block;
  text-align: right;
  float: left;
}
.form input {
  display: inline-block;
  text-align: left;
  float: right;
}
.form tr {
  width: 200 px;
}
.form td {
  width: 150 px;
}
